/* ==== A SIMPLE CSS RESET FROM ERIC MEYER ==== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* positioning */

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: blue;
}

.profile-card {
  width: 100%;
  margin: 0 auto;
  max-width: calc(100vw - 10px);
  height: 80%;
  margin-top: 20%;
  background-color: hsla(210, 100%, 80%, .6);
  border-radius: 1rem;
}

.head, .contant {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

h1, h2, p {
  line-height: 1.5rem;
}

.name-headline {
  color: hsla(220, 100%, 30%);
  margin-top: 1rem;
}

img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  padding: 0.05rem;
  background-color: #665;
  margin-top: -4rem;
}

/* contact links */

ul {
  list-style-type: none;
  text-align: center;
  padding: 2%;
}

li {
  display: inline;
  padding: 5%;
}

/* end of contact links */

.head, .about-me {
  margin-bottom: 5%;
}

.content {
  padding: 2.5% 5%;
  text-align: justify;
}

p, h2 {
  color: hsla(220, 100%, 30%);
}

#strong {
  font-weight: bold;
  text-align: center;
}

body {
  background: url(assets/background1.jpg) no-repeat center center fixed;
  background-size: cover;
}

img:hover {
  transform: scale(1.1);
  transition: all 0.5s case-in-out;
}

i:hover {
  transform: scale(1.5);
  transition: all 0.5s case-in-out;
}

  hr {
    width: 90%;
    border-top: 2px solid hsla(220, 100%, 30%);
  }

/* responsive */

@media screen and (min-width: 381px) and (max-width: 446px) {
  .profile-card {
    height: 85%;
    background-color: hsla(210, 100%, 80%, .6);
  }
}

@media (max-width: 380px) {
  .profile-card {
    height: 90%;
    margin-top: 45%;
    font-size: small;
  }
}
  
@media (min-width: 1024px) {
  .profile-card {
    width: 75%;
    height: 80%;
    background-color: hsla(210, 100%, 80%, .6);
    margin-top: -1%;
    font-size: 120%;
    line-height: 120%;
    margin: 0 auto;
  }
  
  .contact {
    margin-top: 3%;
  }
  
  #strong {
    font-size: 165%;
  }
  
  h1 {
    font-size: 110%;
  }
}